@model Student
@{
    Layout = null;
    SelectList deptsl = new SelectList(ViewBag.depts, "DeptId", "DeptName");
    
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @if (Model != null)
    {
        <form action="/student/update" method="post" class="needs-validation">

            <div class="mb-3">
                <label for="Id" class="form-label">Student ID</label>
                <input type="text" name="Id" class="form-control" value="@Model.Id" readonly />
            </div>

            <div class="mb-3">
                <label for="Name" class="form-label">Student Name</label>
                <input type="text" name="Name" class="form-control" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="Age" class="form-label">Student Age</label>
                <input type="text" name="Age" class="form-control" value="@Model.Age" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="Email" class="form-label">Student Email</label>
                <input type="text" name="Email" class="form-control" value="@Model.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="DeptNo" class="form-label">Department</label>
                <select asp-for="DeptNo" class="form-control" asp-items="deptsl">
                </select>
                
            </div>

            <div class="mt-4 text-center">
                <input type="submit" class="btn btn-primary" value="Update" />
            </div>

        </form>

    }
    else
    {
        <h1>Error occured</h1>
    }
	

	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>
